@media(max-width:1000px){
    .form-section,
    .map-section{
        width: 403px;
    }

}
@media(max-width:800px){
    main{
        height: 1124px;
    }
    .main_sec{
       width: calc((752 / 800) * 100%);
        height: 1060px;
        flex-direction: column;
        align-items: center;
    }

    input{
        width: calc((348 / 720) * 100%);
    }
    .info{
        width: calc((720/ 752) * 100%);
    }
}